body{
  background-image: url(../images/babka.jpg);
  background-repeat: repeat-y;
  background-size: 100%;
}

header{
  background-color: #f4ecd7;
  padding: 30px 0 30px 30px;
}

table {
    text-align: left;
}

.homeBody{
  font-family: "Trebuchet MS", helvetica, sans-serif;
  margin: 0 30px 0 30px;
  background-color: #fff;
  padding: 30px;
}


.container{
  text-align: center;
}

.container-fluid{
  float: right;
  margin: -100px 90px 0 0;
}

.submitOrderButton, .customerLogout{
  float: right;
}

#quantityOrdered{
  padding-right: 12px;
  width: 100px;
}

.btn-success{
  text-align: center;
}

textarea.form-control{
  display: inline-block;
}

input.form-control{
  padding-right: 70px;
}

main {
    padding-top: 30px;
}

.customers:hover {
    cursor: pointer;
    opacity: 0.75;
}

.custLoginButton{
  margin-top: 1em;
  background-color: rgb(51, 122, 183) !important;
}

.productSearchBar, .customerSearchBar{
  width: 20em;
  height: 2.2em;
  /*border-radius: .5em;*/
  border: none;
  border-bottom: 1px solid black;
}

.tableHeading{
  text-align: center;
  padding: 1em;
  font-size: 1.2em;
}

.productSearchDiv, .customerSearchDiv{
  padding-bottom: 2em;
  padding-left: 2em;
  float: left;
}

.createProductButton, .addStaffButtonDiv, .addCustomerButtonDiv{
  padding-bottom: 2em;
  float: right;
}

.glyphicon-plus-sign{
  color: green;
  font-size: 16px;
  vertical-align: text-bottom;
}

.modal-body{
  font-family: "Trebuchet MS", helvetica, sans-serif;
  font-size: 16px;
}

.formInput{
  padding: 2px;
}

.roleClass{
  margin-bottom: .5em;
}

.navbar{
  float: right;
  margin-right: 1.5em !important;
  font-size: 12px;
  color: rgb(51, 122, 183);
  /*position: inherit;*/
}

header a {
    font-family: "Trebuchet MS", helvetica, sans-serif;
    font-size: 1.2em;
    margin-top: 1em !important;
}

a:hover{
  font-weight: bold;
  text-decoration: underline !important;
  background-color: #f4ecd7 !important;
}

a:focus{
  background-color:#f4ecd7 !important;
  text-decoration: underline !important;
  color: red !important;
}

.order-table tbody tr:hover {
    cursor: pointer;
    background-color: #e6e6e6 !important;
}

.form-group .checkbox {
    display: inline;
}

span.form-group {
    display: block;
}

.cal div {
    display: inline-block;;
    margin: auto;
}

.product-row {
    padding-bottom: 5px;
}


.glyphicon-menu-hamburger{
  font-size: 1.5em;
}

/*@media (max-width: 1200px) {
  .navbar-nav{
    display: none !important;
  }
  .navbar-toggle{
    display: block !important;
  }
}*/

.deliveryMessage{
  font-size: 30px;
  color: red;
}

.welcomeBack{
  text-align: center;
  font-family: "Trebuchet MS", helvetica, sans-serif;
}

.modal-header{
  text-align: center;
  color: rgb(51, 122, 183);
}

.productDisplay{
  text-align: left;
}
