#wrapperInside {
  /*padding:15px 15px 15px 15px;
  border: 10px #e1dfd7 solid;
  text-align:center;
  height: auto;
  width: 890px 100px;
  margin: 50px 50px 50px 50px;
  border: 25px;
  border-radius: 100px;*/
  /*width: auto;*/
  /*height: 250px;*/
  /*display: inline-block;*/
  /*vertical-align:middle;*/
  /*position:absolute;*/
  /*top:50%;*/
  /*right:0;*/
  /*left:0;*/
}
