@media (min-width: 769px) {
    body {
      background-image: url(../images/babka.jpg);
      background-repeat: repeat-y;
      background-size: 100%;
    }
}

header{
  background-color: #f4ecd7;
  padding: 30px 0 30px 30px;
}

table {
  text-align: left;
}

.homeBody{
  font-family: "Trebuchet MS", helvetica, sans-serif;
  margin: 0 30px 0 30px;
  background-color: #fff;
  padding: 30px;
}

.container{
  text-align: center;
}

.container-fluid{
  float: right;
  margin: -100px 90px 0 0;
}

.submitOrderButton, .customerLogout{
  float: right;
}

#quantityOrdered{
  padding-right: 12px;
  width: 100px;
}

.btn-success{
  text-align: center;
}

textarea.form-control{
  display: inline-block;
}

input.form-control{
  padding-right: 70px;
}

main {
    padding-top: 30px;
}

.customers:hover {
    cursor: pointer;
    opacity: 0.75;
}

.custLoginButton{
  margin-top: 1em;
  background-color: rgb(51, 122, 183) !important;
}

.productSearchBar, .customerSearchBar{
  width: 20em;
  height: 2.2em;
  /*border-radius: .5em;*/
  border: none;
  border-bottom: 1px solid black;
}

.tableHeading{
  text-align: center;
  padding: 1em;
  font-size: 1.2em;
}

.productSearchDiv, .customerSearchDiv{
  padding-bottom: 2em;
  padding-left: 2em;
  float: left;
}

.createProductButton, .addStaffButtonDiv, .addCustomerButtonDiv{
  padding-bottom: 2em;
  float: right;
}

.glyphicon-plus-sign{
  color: green;
  font-size: 16px;
  vertical-align: text-bottom;
}

.modal-body{
  font-family: "Trebuchet MS", helvetica, sans-serif;
  font-size: 16px;
}

.formInput{
  padding: 2px;
}

.roleClass{
  margin-bottom: .5em;
}

.navbar{
  float: right;
  margin-right: 1.5em !important;
  font-size: 14px;
  color: rgb(51, 122, 183);
  position: fixed;
  background-color: #f4ecd7;
  z-index: 1;
}

header a {
    font-family: "Trebuchet MS", helvetica, sans-serif;
    font-size: 1.2em;
    margin-top: 1em !important;
}

a:hover{
  font-weight: bold;
  text-decoration: underline !important;
  background-color: #f4ecd7 !important;
}

a:focus{
  background-color:#f4ecd7 !important;
  text-decoration: underline !important;

}

a::selection{
  color: red !important;
}

.order-table tbody tr:hover {
    cursor: pointer;
    background-color: #e6e6e6 !important;
}

.form-group .checkbox {
    display: inline;
}

span.form-group {
    display: block;
}

.cal div {
    display: inline-block;;
    margin: auto;
}

.product-row {
    padding-bottom: 5px;
}


.glyphicon-menu-hamburger{
  font-size: 1.5em;
}


.deliveryMessage{
  font-size: 30px;
  color: red;
  text-align: center;
  padding-bottom: 13px;
}

.welcomeBack, .oven{
  text-align: center;
  font-family: "Trebuchet MS", helvetica, sans-serif;
}

.modal-header{
  text-align: center;
  color: rgb(51, 122, 183);
}

.productDisplay{
  text-align: left;
}


.report-button {
    padding-top: 20px;
}


.separateButtons{
  margin-right: 30px;
}

.buttonMargin{
  margin-top: 1em;
  margin-bottom: 1em !important;
}

.numberCenter{
  text-align: center;
}

.startDate{
  margin-right: 50px;
}

.endDate{
  margin-left: 50px;
}

.lineSeparator{
  border-top: 3px solid black;
}

.separateExports{
  padding-bottom: 20px;
}
.leftJustify{
  text-align:left;
}


.productButton{
  text-align: right;
  padding-right: 40px !important;
}

.productList{
  width: 60% !important;
  text-align: center;
}

.confirmAlert{
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
    main {
        padding-top: 0;
    }
    .homeBody {
        margin: 0;
        padding: 5px;
        }
    }
