/* CSS Document */

/* reset browser styles */
html, body, h1, h2, h3, h4, p, ul, ol {
	margin: 0px;
	}
img {
  border: 0;
}
.clear {clear: both; margin: 0px}
body {
padding-top:1px;
}
/* end reset browser styles */

/*********************/
/* BASIC */
/*********************/


html {
background-color: #f4ecd7;
}

#wrapperall {
width:960px;
margin-top:0px;
margin-bottom:65px;
margin-right:auto;
margin-left:auto;
position:relative;
}

#wrapper {
width:927px;
margin-top:0px;
padding:15px 15px 40px 15px;
border: 2px #e1dfd7 solid;
/*background-color: #ffffff;*/
}

#wrapper #mainimage {
padding-bottom:15px;
border:0px;
}
#wrapper #mainimage a {
padding-bottom:15px;
border:0px;
}
#wrapper #maincallout {
 padding-right:11px;
 float:left;
}
#wrapper #maintwitter {
padding-left:11px;
}

hr{
color: #f0eddf;
background-color:#f0eddf;
height: 1px;
}

h1 {
  font-family: "museo-1","museo-2", sans-serif;
  font-size:28px;
  color:#005288;
  font-weight:100;
  line-height:35px;
  margin-bottom:10px;
}

h2 {
  font-family: "museo-1","museo-2", sans-serif;
  font-size:20px;
  color:#594c28;
  font-weight:300;
  line-height:26px;
  display:inline;
}
h3 {
 font-family: "museo-1","museo-2", sans-serif;
  font-size:15px;
  color:#005288;
  font-weight:300;
  line-height:20px;
  margin: 15px 0px;
}
h4 {
 font-family: "museo-1","museo-2", sans-serif;
  font-size:18px;
  color:#594c28;
  font-weight:300;
  line-height:24px;
  margin-top:15px;
}
h5 {
color:#005288;
font-size:14px;
font-family:"Trebuchet MS", helvetica, sans-serif;
text-transform:uppercase;
margin-top:25px;
margin-bottom:5px;
}
p{
font-family:"Trebuchet MS", helvetica, sans-serif;
color:#594c28;
font-size:13px;
line-height:18px;
margin-top:8px;
}
p a{
color:#594c28;
}
p a:hover{
color:#005288;
}
ol{
font-family:Arial, Helvetica, sans-serif;
color:#393111;
font-size:12px;
line-height:17px;
margin-top:15px;
}

.stuffing{
font-family:"Trebuchet MS", helvetica, sans-serif;
color:#594c28;
font-size:13px;
line-height:18px;
}
.stuffing a{
font-family:"Trebuchet MS", helvetica, sans-serif;
color:#594c28;
font-size:13px;
line-height:18px;
}

.stuffingline{
font-family:"Trebuchet MS", helvetica, sans-serif;
color:#594c28;
font-size:13px;
line-height:18px;
border-left:solid 1px #594c28;
}

/*********************/
/* BANNER */
/*********************/

#banner{
margin-top:0px;
position:absolute;
margin-bottom:10px;
width:960px;
padding-top:1px;
}
#banner .logo{
	margin-top:25px;
	margin-left:15px;
	float:left;
}
#banner #topwrapper{
margin-top:0px;
width:425px;
float:right;
text-align:center;
vertical-align:middle;
font-size:11px;
font-family:"Trebuchet MS", helvetica, sans-serif;
letter-spacing:1px;
color:#2a1f09;
}
#banner #topwrapper #location{
float:right;
width:246px;
height:28px;
background:url(../images/location_bknd_tab.jpg);
padding:14px 5px 5px 5px;
	}
#banner #topwrapper #signup{
float:left;
width:150px;
margin-right:5px;
margin-top:14px;
}
#banner a{
color:#2a1f09;
text-decoration:none;
}

#banner a:hover{
text-decoration:underline;
color:#005288;
}

#banner #topwrapper .on{
text-decoration:none;
color:#005288;
}

/*********************/
/* MAIN NAV */
/*********************/

#nav {
margin-bottom: 0px;
	margin-top: 75px;
	background: url(../images/nav_bar.jpg);
	width:700px;
	height:38px;
	overflow:hidden;
	float:right;
	padding-left:25px;
}
#nav ul{
list-style:none;
}

#nav li {
	float:left;
	margin: 10px 0px;
	padding: 3px 8px 2px 8px;
	border-right: 1px solid #dbd0b2;
	}

#nav a {
	font-family:"Trebuchet MS", helvetica, sans-serif;
font-size:12px;
letter-spacing:2px;
color:#fff;
	display:block;
	text-decoration: none;
	margin-left: 5px;
	margin-bottom: 0px;
	text-align:center;
}

#nav li a:hover {
	color:#2a1f09;
}

#nav li.last {
border-right: none;
padding-right:0px;
}

#nav a.on{
color:#2a1f09;
}



/*********************/
/* HOME*/
/*********************/
#wrapper #contact {
margin-top:35px;
margin-bottom:30px;
font-size:11px;
line-height:19px;
color:#594c28;
font-family:"Trebuchet MS", helvetica, sans-serif;
}
#wrapper #contact a{
color:2a1f09;
text-decoration:none;
}
#wrapper #contact a:hover{
color:#ca252c;
text-decoration:underline;
}
#wrapper #contact1  {
margin-left:30px;
width: 275px;
float:left;
}
#wrapper #contact2  {
margin-left: 20px;
width: 150px;
float:left;
border-left:#D4CBA4 1px solid;
padding: 0px 0px 0px 30px;
}
#wrapper #contact3 {
margin-left:30px;
width: 150px;
float:left;
border-left:#D4CBA4 1px solid;
padding: 0px 0px 0px 30px;
}

#wrapper #contact4  {
margin-left:15px;
width: 150px;
float:left;
border-left:#D4CBA4 1px solid;
padding: 0px 0px 0px 30px;
}

/*********************/
/* TWITTER */
/*********************/

#wrapper #twitter{
padding-left:0px;
width:450px;
float:right;
}

 #twitter_t {
   width: 450px;
   height: 28px;
   background-image:url(../images/twitter_01.jpg);
}

 #twitter_m {
   width: 450px;
   padding: 0;
   background:url(../images/twitter_02.jpg) 0 0 repeat-y;
}

    #twitter_container {
       min-height:45px;
       height:90px;
       padding:10px 20px;
	   }

      #twitter_update_list {
           width: 390px;
           padding: 0px 25px 0px 25px;
           overflow: hidden;
          font-family:"Trebuchet MS", helvetica, sans-serif;
  line-height:23px;
 color:#594c28;
   }

       #twitter_update_list li {
           width: 390px;
           list-style: none;
       }
	          #twitter_update_list li a {
           border-bottom: dotted 1px;
           text-decoration: none;
		   font-style:italic;
font-size:10px;
color:#594c28;
       }
		 #twitter_update_list li span {
           width: 390px;
           list-style: none;
		   font-size:16px;
       }

        #twitter_update_list li a:hover {
           color: #31353d;
       }

 #twitter_b {
   width: 450px;
   height: 33px;
   background-image:url(../images/twitter_04.jpg);
}
 #twitter_b #follow{
   width: 147px;
   height: 29px;
   bottom:-5px;
left:250px;
position:relative;
   }

/*********************/
/* SIDE NAV */
/*********************/

#browse{
position:absolute;
left:-15px;
top:165px;
}
#sidebar {
margin-top:30px;
width:240px;
float:left;
}
#sidebar ul{
list-style:none;
margin:0;
padding:0;
}
#sidebar li{
list-style:none;
font-weight:300;
font-family: "museo-1","museo-2", sans-serif;
display:block;
color:#594c28;
font-size:15px;
padding: 5px 0px;
display:block;
}

#sidebar a{
color:#005288;
text-decoration:none;
letter-spacing:1px;
margin-left:5px;
}
#sidebar a.on{
margin-left:0px;
}
#sidebar a:hover{
color:#594c28;
}
#sidebar img{
margin:5px 0px;
}
#sidebar .view{
margin:30px 0px;
}

#sidebar h1{
font-size:15px;
color:#b3a775;
margin-top:15px;
margin-bottom:15px;
text-transform:uppercase;
}
#sidebar a.last {
border-bottom:1px solid #ffffff;
}
#sidebar a:hover.last {
border-bottom:1px solid #ada270;
}



/*********************/
/* SUBNAV */
/*********************/
#sidebar #subnav {
width:233px;
}
#sidebar #subnav li{
list-style:none;
color:#005288;
font-size:13px;
font-family: "museo-sans-1","museo-sans-2", sans-serif;
font-weight:500;
padding: 3px 0px;
}
#sidebar #subnav a{
font-size:12px;
color:#594c28;
text-decoration:none;
display:block;
font-family:"Trebuchet MS", helvetica, sans-serif;
font-weight:normal;
line-height:15px;
margin-left:0px;
letter-spacing:0px;
text-indent:5px;
}
#sidebar #subnav a:hover{
color:#2a1f09;
background:#ddd2b3;
}
#sidebar #subnav a.on{
color:#2a1f09;
background:#ddd2b3;
}
#sidebar #subnav a.last{
padding-bottom:15px;
}
#sidebar #subnav a.laston{
padding-bottom:15px;
color:#a92326;
}

#sidebar #subnav .season{
text-transform:uppercase;
font-size:10px;
}

/*********************/
/*SIDEBAR STRIPE*/
/*********************/

#sidebarstripe {
margin-bottom:30px;
width:240px;
float:left;
}

#sidebarstripe #callout{
background-image:url(../images/canvas.png);
margin:30px 20px;
padding:0px 5px 8px 5px;
font-size:17px;
}

#sidebarstripe img {
margin:30px 20px;
}

/*********************/
/* MAP */
/*********************/
#map{
width:275px;
margin-top:25px;
}
.mapimg{
float:right;
margin-top:25px;
}
#boy{
margin-top:10px;
height:300px;
}
#boy img{
float:left;
}
#boy #info{
margin-left:250px;
}

#content #contact2  {
width: 150px;
float:left;
padding: 0px 0px 0px 0px;
font-size:12px;
line-height:19px;
color:#594c28;
font-family:"Trebuchet MS", helvetica, sans-serif;
margin-top:30px;
}
#content #contact3 {
margin-left:30px;
margin-top:30px;
width: 150px;
float:left;
border-left:#D4CBA4 1px solid;
padding: 0px 0px 0px 30px;
font-size:12px;
line-height:19px;
color:#594c28;
font-family:"Trebuchet MS", helvetica, sans-serif;
}
#content #contact4  {
margin-left:15px;
margin-top:30px;
width: 150px;
float:left;
border-left:#D4CBA4 1px solid;
padding: 0px 0px 0px 30px;
font-size:12px;
line-height:19px;
color:#594c28;
font-family:"Trebuchet MS", helvetica, sans-serif;
}

#content #contact2 a{
color:#594c28;
text-decoration:underline;
}

#content #contact2 a:hover{
color:#ca252c;
text-decoration:underline;
}
#content #contact3 a{
color:#594c28;
text-decoration:underline;
}

#content #contact3 a:hover{
color:#ca252c;
text-decoration:underline;
}
#content #contact4 a{
color:#594c28;
text-decoration:underline;
}

#content #contact4 a:hover{
color:#ca252c;
text-decoration:underline;
}

/*********************/
/* INTERIOR*/
/*********************/

#wrappermain {
width:897px;
margin-top:0px;
padding:15px 30px 40px 30px;
border: 2px #e1dfd7 solid;
background-color: #ffffff;
}
#wrappermain #contentwrapper{
background:url(../images/stripe_bknd_lg.jpg) repeat-y left top;
margin-top:30px;
_margin-top:30px;/* show to IE */
}
#content{
width:580px;
border-left: 1px solid #c7b78c;
padding-left:35px;
padding-right:10px;
float:right;
}
#content ul{
font-family:"Trebuchet MS", helvetica, sans-serif;
color:#594c28;
font-size:13px;
line-height:18px;
margin-top:8px;
}

#content .breads{
padding:0px 0px 30px 0px;
}

#main{
margin-top:30px;
width:600px;
border-left: 1px solid #c7b78c;
padding-left:30px;
float:right;
}
#main ul{
font-family:"Trebuchet MS", helvetica, sans-serif;
color:#594c28;
font-size:13px;
line-height:18px;
margin-top:8px;
}
#main #interior{
background:url(../images/stripe_bknd.jpg) repeat-y right top;
}

#main .buttonleft{
padding:15px 30px 15px 0px;
}
#main .buttonright{
padding:15px 0px 15px 0px;
}
#main .cookie{
padding:15px 0px 15px 0px;
}
#main .breads{
padding:0px 0px 30px 0px;
}

#main #leftcolumn{
width: 387px;
margin:0px 25px 0px 0px;
float:left;
}

#main #recipe{
margin:30px 0px;
padding:15px;
border-bottom:1px solid #594c28;
border-top:1px solid #594c28;
background-color:#f3efe3;
color:#594c28;
}
#main #recipe p{
margin:20px 0px;
}

#main #recipe p.directions{
text-transform:uppercase;
font-weight:bold;
padding-top:15px;
}
#main #recipe p.italic{
font-style:italic;
font-size:11px;
}
#main #recipe .book{
font-style:normal;
}
#main #recipe #serve{
text-transform:uppercase;
font-weight:bold;
font-size:10px;
color:#fff;
background-color:#c7b78c;
top:-15px;
left:265px;
width:75px;
padding:5px;
position:relative;
font-family:"Trebuchet MS", helvetica, sans-serif;
text-align:center;
}
#main p.italic{
font-style:italic;
}
#main #perfect ul{
margin:0px;
padding:0px;
list-style:none;
}
#main #perfect li{
border-bottom:1px solid  #e8e0ca;
padding:5px 5px 5px 25px;
width:225px;
background-image:url(../images/checkmark.jpg);
background-repeat:no-repeat;
font-family:"Trebuchet MS", helvetica, sans-serif;
color:#594c28;
font-size:13px;
line-height:18px;
}
#main #perfect li.last{
border-bottom:none;
padding:5px 5px 5px 25px;
}
#main p.nutrition{
border-bottom:1px solid #e8e0ca;
font-size:11px;
width:225px;
}
#main p.nutritionlast{
border-bottom:none;
font-size:11px;
width:225px;
}

#main #rightcolumn{
float:right;
line-height:20px;
width:188px;
float:right;
padding:0px;
font-size:13px;
color:#005288;
font-family:"Trebuchet MS", helvetica, sans-serif;
}
#main #rightcolumn a{
color:#005288;
}
#main #rightcolumn a:hover{
color:#2a1f09
}

#main #rightcolumn #available{
background-color:#fff;
border:1px solid #c1def2;
margin: 15px 15px;
padding:0px 8px 8px 11px;
}
#main #rightcolumn #available p{
margin: 15px 0px;
color:#005288;
}
#main #rightcolumn #available p.red{
margin: 15px 0px;
color:#990000;
}
#main #rightcolumn #available p.red a{
margin: 15px 0px;
color:#990000;
}

#main #rightcolumn #enjoy{
background-color:#fff;
border:1px solid #c1def2;
margin:30px 15px;
padding:0px 5px 8px 5px;
}

#main #rightcolumn #enjoy li{
font-family: "museo-1","museo-2", sans-serif;
  font-size:15px;
  color:#005288;
  font-weight:300;
  line-height:20px;
 padding:15px 0px;
  border-bottom:1px solid #c1def2;
  list-style:none;
  margin-left:8px;
}
#main #rightcolumn #enjoy li a{
text-decoration:none;
color:#005288;
}
#main #rightcolumn #enjoy li a:hover{
text-decoration:underline;
color:#2a1f09;
}
#main #rightcolumn #enjoy ul{
margin:0px;
padding:0px;
}
#main #rightcolumn #enjoy li.last{
border-bottom:none;
}

#main #rightcolumn #photo{
background-color:#fff;
border:1px solid #c1def2;
margin:30px 15px;
padding:10px;
}

#main #rightcolumn #photo p.red{
color:#990000;
}

#main #rightcolumn .vegan{
margin:0px 15px;
}
#main #share{
margin-top:15px;
height:15px;
padding:10px;
border-bottom:thin dotted #C1DEF2;
border-top:thin dotted #C1DEF2;
}

#main #seasonavailable{
text-transform:uppercase;
font-weight:bold;
font-size:11px;
color:#594c28;
font-family:"Trebuchet MS", helvetica, sans-serif;
margin:15px 0px;
}

#main p.title{
text-transform:uppercase;
font-weight:bold;
padding-top:25px;
}


/*********************/
/* Merch */
/*********************/

#content #merch{
font-size:12px;
line-height:15px;
}
#content #merch p.description{
font-size:11px;
line-height:13px;
}
#content #merch img{
margin-bottom:15px;
}
#content #merch #title{
font-family:"Trebuchet MS", helvetica, sans-serif;
border-bottom:dotted 1px #005288;
font-size:15px;
margin-bottom:10px;
color:#005288;
line-height:20px;
}
#content #merch #sub{
font-family:"Trebuchet MS", helvetica, sans-serif;
text-transform:uppercase;
size:14px;
color:#594c28;
}
#content #merch #one{
margin-top:35px;
margin-right:25px;
width:176px;
float:left;
}
#content #merch #two{
margin-top:35px;
margin-right:25px;
width:176px;
float:left;
}
#content #merch #three{
margin-top:35px;
width:176px;
float:left;
}
#content #merch #four{
margin-top:35px;
margin-right:15px;
width:378px;
heighth:215px;
float:left;
}
#content #merch #five {
    border: 5px solid #fff;
    height: 100%;
    float: left;
	margin-right: 8px;
	position: relative;
    width: 272px;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
}
#content #merch #six {
    border: 5px solid #fff;
    height: 100%;
    float: left;
	margin-right: 8px;
    position: relative;
    width: 272px;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
}
#content #merch #seven {
    border: 5px solid #fff;
    height: 100%;
    float: left;
    margin-right: 5px;
    position: relative;
    width: 562px;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
}
#content #merch #eight {
    border: 5px solid #fff;
    height: 100%;
    float: left;
	margin-right: 8px;
	position: relative;
    width: 396px;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
}


.box {
    border: 5px solid #fff;
    cursor: pointer;
    height: 350px;
    float: left;
    margin-right: 5px;
    position: relative;
    overflow: hidden;
    width: 562px;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
}

.box img {
    position: absolute;
    left: 0;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.box .caption {
    background-color: #005288;
    position: absolute;
    color: #FFFFFF;
    z-index: 100;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    left: 0;
}

.box .simple-caption {
    height: 30px;
    width: 100%;
    display: block;
    bottom: -30px;
    line-height: 25pt;
    text-align: center;
}

.box:hover .simple-caption {
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

.box-2 {
    border: 5px solid #fff;
    cursor: pointer;
    height: 300px;
    float: left;
	margin-right: 8px;
    position: relative;
    overflow: hidden;
    width: 272px;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
}

.box-2 img {
	position: absolute;
	left: 123px;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}

.box-2 .caption {
    background-color: #005288;
    position: absolute;
    color: #FFFFFF;
    z-index: 100;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    left: 0;
}

.box-2 .simple-caption {
    height: 30px;
    width: 100%;
    display: block;
    bottom: -30px;
    line-height: 25pt;
    text-align: center;
}

.box-2:hover .simple-caption {
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

.box-3 {
    border: 5px solid #fff;
    cursor: pointer;
    height: 300px;
    float: left;
    position: relative;
    overflow: hidden;
    width: 272px;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    -moz-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: 1px 1px 1px 1px #ccc;
}

.box-3 img {
    position: absolute;
    left: 0;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.box-3 .caption {
    background-color: #005288;
    position: absolute;
    color: #FFFFFF;
    z-index: 100;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    left: 0;
}

.box-3 .simple-caption {
    height: 30px;
    width: 100%;
    display: block;
    bottom: -30px;
    line-height: 25pt;
    text-align: center;
}

.box-3:hover .simple-caption {
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

div.wrapper{
    float:left; /* important */
    position:relative; /* important(so we can absolutely position the description div */
}
div.description{
    position:absolute; /* absolute position (so we can position it where we want)*/
    bottombottom:0px; /* position will be on bottom */
    left:0px;
    width:100%;
    /* styling bellow */
    background-color:black;
    font-family: 'tahoma';
    font-size:15px;
    color:white;
    opacity:0.6; /* transparency */
    filter:alpha(opacity=60); /* IE transparency */
}
p.description_content{
    padding:10px;
    margin:0px;
}



/*********************/
/* FOOTER */
/*********************/


#footer {
margin-bottom: 25px;
margin-top: 0px;
width:960px;
font-family:"Trebuchet MS", helvetica, sans-serif;
font-size:10px;
color:#594c28;
text-align:right;
line-height:17px;
letter-spacing:1px;
}
#footer a{
color:#393111;
}
#footer a:hover{
color:#005288;
}
#footer .on{
color:#005288;
}
#footer #share{
float:right;
margin-top:15px;
}
#footer #copyright{
padding:6px 10px;
margin-left:225px;
text-transform:uppercase;
text-align:left;
}
#footer#copyright #search{
float:right;
width:300px;
}
#footer #tab{
padding:4px 2px;
float:left;
background:url(../images/footer_bar.png);
color:#fff;
width:200px;
height:21px;
text-transform:uppercase;
text-align:center;
}
#footer #tab a{
color:#fff;
text-decoration:none;
}
#footer #tab a:hover{
color:#594c28;
text-decoration:underline;
}
#footer #tab .on{
color:#594c28;
text-decoration:none;
}
