<!DOCTYPE html>
<html>

<head>
    <title>Breadsmith - Admin - Add Customer</title>
    <meta name="Description" content="Breadsmith uses the highest quality ingredients to create hand-crafted breads made from scratch and baked fresh daily." />
    <meta name="Keywords" content="Breadsmith, Minnesota, bread, muffins, scones, rolls, whole wheat, sourdough, ciabatta, baguette, boule, Challah, Babka, stollen, soda bread, rye, pumperknickel, st paul, saint paul, Minnetonka, edina, Wayzata, bakery, dough, cookies"
    />
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../../images/favicon.ico" />
    <link rel="stylesheet" href="../../css/master.css" />
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../vendors/bootstrap.min.css">
    <script src="../../vendors/angular.min.js" charset="utf-8"></script>
    <script src="../../scripts/controllers/adminCustomerController.js" charset="utf-8"></script>
</head>

<body ng-app="myApp">
    <div class="container-fluid" ng-controller="adminCustomerController">
        <div id="wrapperall">

            <div id="banner">
                <a href="index.html"><img src="../../images/breadsmith_logo.jpg" alt="Breadsmith" width="232" height="48" border="0" class="logo"></a>
                <div id="topwrapper">
                    <div id="signup"><a href="login.html">LOG IN / SIGN UP</a></div>
                    <!-- <div id="location"><a href="edina.html">EDINA</a> | <a href="minnetonka.html">MINNETONKA</a> | <a href="stpaul.html">ST. PAUL</a></div> -->
                </div>
            </div>

            <div id="nav">
                <ul>
                    <li><a href="#!/index">HOME</a></li>
                    <li><a href="#!/newOrder">NEW ORDERS</a></li>
                    <li><a href="#!/existingorders">EXISTING ORDERS</a></li>
                    <li><a href="#!/reports">REPORTS </a></li>
                    <li><a href="#!/customer">CUSTOMER</a></li>
                    <li><a href="#!/products">PRODUCTS</a></li>
                    <li><a href="#!/staff">STAFF</a></li>
                    <li><a href="#!/contact">CONTACT</a></li>
                </ul>
            </div>
      
        </div>
    </div>
