<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Admin Home</title>
  </head>
  <body>
    <h1>Admin Home</h1>
    <div>
      <nav class='container-fluid' id="nav">
        <li><a href='#!/newOrder'>New Order</a></li>
        <li><a href='#!/existingOrders'>Existing Orders</a></li>
        <li><a href='#!/reports'>Reports</a></li>
        <li><a href='#!/customers'>Customers</a></li>
        <li><a href='#!/products'>Products</a></li>
        <li><a href='#!/staff'>Staff</a></li>
  </body>
</html>
