<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Create Client</title>
    <link rel="stylesheet" href="../../css/master.css">
    <link rel="stylesheet" href="../../css/style.css">
    <!-- <link rel="stylesheet" href="../vendors/bootstrap.min.css"> -->
    <script src="../../vendors/angular.min.js" charset="utf-8"></script>
    <script src="../../scripts/index.js" charset="utf-8"></script>
</head>

<body>
<div class="container-fluid">
  <div id="wrapperall">
    <div id="banner"> <a href="index.html"><img src="../../images/breadsmith_logo.jpg" alt="Breadsmith" width="232" height="48" border="0" class="logo"></a>
      <div id="topwrapper">
        <div id="signup"><a href="login.aspx">LOG IN / SIGN UP</a></div>
        <!-- <div id="location"><a href="edina.html">EDINA</a> | <a href="minnetonka.html">MINNETONKA</a> | <a href="stpaul.html">ST. PAUL</a></div> -->
      </div>
  </div>
    <div id="nav">
        <ul>
          <li><a href="index.html" class="on">HOME</a></li>
          <li><a href="neworders.html">NEW ORDERS</a></li>
          <li><a href="existingorders.html">EXISTING ORDERS</a></li>
          <li><a href="reports.html">REPORTS </a></li>
          <li><a href="clients.html">CLIENTS</a></li>
          <li><a href="products.html">PRODUCTS</a></li>
          <li><a href="staff.html">STAFF</a></li>
          <li class="last"><a href="contact.html">CONTACT</a></li>
        </ul>
      </div>

      <div id ="pageTitle">
        <h1>Create Client</h1>
      </div>
    </div>
  </div>
</body>

</html>
