<!DOCTYPE html>
<html>

<head>
    <title>Breadsmith - Admin - Edit Client</title>
    <meta name="Description" content="Breadsmith uses the highest quality ingredients to create hand-crafted breads made from scratch and baked fresh daily." />
    <meta name="Keywords" content="Breadsmith, Minnesota, bread, muffins, scones, rolls, whole wheat, sourdough, ciabatta, baguette, boule, Challah, Babka, stollen, soda bread, rye, pumperknickel, st paul, saint paul, Minnetonka, edina, Wayzata, bakery, dough, cookies"
    />
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../images/favicon.ico" />
    <link rel="stylesheet" href="../../css/master.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../vendors/bootstrap.min.css">
    <script src="../../vendors/angular.min.js" charset="utf-8"></script>
    <script src="../../scripts/controllers/adminClientController.js" charset="utf-8"></script>
</head>

<body ng-app="myApp">
    <div class="container-fluid" ng-controller="adminClientController">
        <div id="wrapperall">
            <div id="banner">
                <a href="index.html"><img src="../../images/breadsmith_logo.jpg" alt="Breadsmith" width="232" height="48" border="0" class="logo"></a>
                <div id="topwrapper">
                    <div id="signup"><a href="login.html">LOG IN / SIGN UP</a></div>
                    <!-- <div id="location"><a href="edina.html">EDINA</a> | <a href="minnetonka.html">MINNETONKA</a> | <a href="stpaul.html">ST. PAUL</a></div> -->
                </div>
            </div>

            <div id="nav">
                <ul>
                    <li><a href="index.html">HOME</a></li>
                    <li><a href="neworders.html">NEW ORDERS</a></li>
                    <li><a href="existingorders.html">EXISTING ORDERS</a></li>
                    <li><a href="reports.html">REPORTS </a></li>
                    <li><a href="clients.html">CLIENTS</a></li>
                    <li><a href="products.html">PRODUCTS</a></li>
                    <li><a href="staff.html">STAFF</a></li>
                    <li><a href="contact.html">CONTACT</a></li>
                </ul>
            </div>

            <div id="wrapper">
                <!-- <table style="width:100%" ng-repeat="customer in customers"> -->
                <table style="width:100%">
                    <tr>
                        <th>Client</th>
                        <!-- <th>Lastname</th>
    <th>Age</th> -->
                    </tr>
                    <tr>
                        <td>Jill {{customer.name}}</td>
                        <td><label for="select"></label>
                            <input type="button" name="select" value="Select" ng-click="">
                        </td>
                        <!-- <td>Smith</td>
    <td>50</td> -->
                    </tr>
                    <tr>
                        <!-- <td>Eve</td>
    <td>Jackson</td>
    <td>94</td> -->
                    </tr>
                </table>
                <label for="editCustomer"></label>
                <input type="button" name="editCustomer" value="Edit Customer" ng-click="">
            </div>

        </div>
    </div>
</body>

</html>
