<div id="wrapper">
    <h1>Edit Customer </h1>
    <!-- <table style="width:100%" ng-repeat="customer in customers"> -->
    <table style="width:100%">
        <tr>
            <td>
                <h2>Company Name</h2></td>
            <td>Loews Hotel {{customer.name}} </td>
        </tr>
        <tr>
            <td>
                <h2>Address</h2></td>
            <td>574 XYZ Road {{customer.address}}</td>
        </tr>
        <tr>
            <td>
                <h2>Phone Number</h2></td>
            <td> 555-555-5555 {{customer.number}} </td>
        </tr>
        <tr>
            <td>
                <h2>Email Address<h2></td>
                      <td> chefraekwon@xyz.com {{customer.email}} </td>
                    </tr>
                </table>
                <label for="editCustomer"></label>
                <input type="button" name="editCustomer" value="Edit Customer" ng-click=""/>
            </div>
