<!DOCTYPE html>
<div id="wrapper">
    <h1>Existing Orders</h1>
    <input type="text" uib-datepicker-popup ng-model="dateSelected" is-open="popup.opened" datepicker-options="options" close-text="Close" ng-change="getOrders()">
    <button type="button" class="btn btn-default" ng-click="toggle()"><i class="glyphicon glyphicon-calendar"></i></button>

    <table>
        <thead ng-show="orders">
            <td>Customer</td>
            <td>Created on</td>
            <td>Total Cost</td>
            <td>Approved</td>
            <td>Comments</td>
            <td>Include</td>
        </thead>
        <tr ng-repeat="order in orders" data-toggle="modal" data-target="#viewOrderDialog" ng-click="viewOrder(order)">
            <td>{{ order.customer_name }}</td>
            <td>{{ order.created | date: 'shortTime' }}</td>
            <td>{{ order.total_cost | currency }}</td>
            <td><i ng-if="order.status" class="glyphicon glyphicon-ok"></i><i ng-if="!order.status" class="glyphicon glyphicon-remove"></i></td>
            <td><i ng-if="order.comments.length > 0" class="glyphicon glyphicon-comment"></i></td>
            <td><input type="checkbox" ng-model="order.include" ng-click="$event.stopPropagation();"></td>
        </tr>
        <button ng-click="printPackingList()">Print Picking List</button>
        <button ng-click="printPackingSlips()">Print Packing Slips</button>
    </table>
    <div class="modal fade" id="viewOrderDialog">
        <div class="modal-dialog modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1 class="modal-title">Order #{{ viewedOrder.id }}</h1>
            </div>
            <div class="modal-body">
                <p ng-show="viewedOrder.status"><em>This order is confirmed.</em></p>
                <h3>{{ viewedOrder.customer_name}}: {{ viewedOrder.total_cost | currency }}</h3>
                <table>
                    <thead>
                        <td>Product</td>
                        <td>Price</td>
                        <td>Quantity</td>
                        <td>Ext. Cost</td>
                        <td>Delete</td>
                    </thead>
                    <tr ng-repeat="product in viewedOrder.products">
                        <td>{{ product.type }} {{ product.variety }}</td>
                        <td>{{ product.price | currency }}</td>
                        <td><input type="number" ng-model="product.qty"></td>
                        <td>{{ product.qty * product.price | currency }}</td>
                        <td><button type="button" ng-click="removeProduct(product)">&times;</button></td>
                    </tr>
                </table>
                <button type="button" data-toggle="modal" data-target="#viewOrderDialog" ng-click="updateOrder()">Update</button>
                <h3>Customer comments:</h3>
                <p>{{ viewedOrder.comments }}</p>
                <!-- <a ng-href="{{ mailLink }}"><button>Respond</button></a> -->
                <button ng-click="customMessage=!customMessage">Customize Message</button>
                <textarea ng-show="customMessage" rows="8" cols="80" ng-model="mailMessage"></textarea>
                <button ng-click="confirmOrder()">Confirm & Send</button>
                <button ng-click="sendMessage()">Send Without Confirming</button>
                <!-- <label for="approveBox">Approve Order:</label> -->
                <!-- <input type="checkbox" ng-model="viewedOrder.status" name="approveBox"> -->

            </div>
        </div>
    </div>
</div>
