<div class="">
    <input type="date" ng-model="dateSelected" ng-change="getOrders()">
    <table>
        <thead>
            <td>Customer</td>
            <td>Created on</td>
            <td>Total Cost</td>
            <td>Status</td>
            <td>Comments</td>
        </thead>
        <tr ng-repeat="order in orders" data-toggle="modal" data-target="#viewOrderDialog" ng-click="viewOrder(order)">
            <td>{{ order.customer_id }}</td>
            <td>{{ order.created | date: hh:mm }}</td>
            <td>{{ order.total_cost | currency }}</td>
            <td>{{ order.status }}</td>
            <td>{{ order.comments.length > 0 }}</td>
        </tr>
    </table>
    <div class="modal fade" id="viewOrderDialog">
        <div class="modal-dialog modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h1 class="modal-title">Order #{{ viewedOrder.id }}</h1>
            </div>
            <div class="modal-body">
                <h3>{{ viewedOrder.total_cost | currency }}</h3>
                <table>
                    <thead>
                        <td>Product</td>
                        <td>Price</td>
                        <td>Quantity</td>
                        <td>Ext. Cost</td>
                        <td>Delete</td>
                    </thead>
                    <tr ng-repeat="product in viewedOrder.products">
                        <td>{{ product.type }} {{ product.variety }}</td>
                        <td>{{ product.price | currency }}</td>
                        <td><input type="number" ng-model="product.qty"></td>
                        <td>{{ product.qty * product.price | currency }}</td>
                        <td><button type="button" ng-click="removeProduct(product)">&times;</button></td>
                    </tr>
                </table>
                <h3>Customer comments:</h3>
                <p>{{ viewedOrder.comments }}</p>
                <label for="approveBox">Approve Order:</label>
                <input type="checkbox" ng-model="viewedOrder.status" name="approveBox">
                <button type="button" ng-click="updateOrder(order.id)">Update</button>
            </div>
        </div>
    </div>
</div>
