<!DOCTYPE html>
<section ng-init="getCustomers()" class="container homeBody">

    <div class="container">
        <h1>Create Order <span ng-show="selectedCustomer">for {{selectedCustomer.name}}</span></h1>
      <form name="orderForm">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Product Description</th>
                    <th>Product Price</th>
                    <th>Quantity Needed</th>
                    <th>Single/Dozen</th>
                    <th>Total Quantity</th>
                </tr>
            </thead>
                <tr class='table table-striped' ng-repeat="product in selectedCustomer.products | orderBy: 'type'">
                    <td>{{product.type}}</td>
                    <td>{{product.variety}}</td>
                    <td>{{product.price | currency }}</td>
                    <td><input type="number" min="0" ng-model="product.qty" class="form-control" id="quantityOrdered">
                    </td>
                    <td>
                        <select class="form-control" ng-model="product.multi">
                  <option value="1">Single</option>
                  <option value="12">Dozen</option>
                </select>
                    </td>
                    <td class='numberCenter'>{{product.qty * product.multi}}</td>
                </tr>
        </table>
      </form>
        <button class="separateButtons btn btn-success" ng-show="selectedCustomer" ng-click="postOrder()" ng-disabled="orderForm.$pristine">Submit Order</button>
        <button class="separateButtons btn btn-info" ng-show="selectedCustomer" ng-click="recurringOrderModal()" ng-disabled="orderForm.$pristine">Set as Recurring Order</button>
        <button class="separateButtons btn btn-primary" ng-click="selectCustomerModal()">Select Customer</button>

    </div>
    <script type="text/ng-template" id="confirmOrder">
        <div class="modal-header">
            <h4>Thank you!</h4>
        </div>
        <div class="modal-body">
            <p>{{ confirmMessage }}</p>
        </div>
    </script>

    <script type="text/ng-template" id="selectCustomer">
        <div class="modal-header">
            <h4>Select a customer:</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label>Find a customer:</label>
                <input type="text" class="form-control-inline" ng-model="customerSearch">
            </div>
            <div class="panel panel-body customers" ng-repeat="customer in customers | orderBy: 'name' | filter: {name: customerSearch}" ng-click="pickCustomer(customer)">
                <p><strong>{{ customer.name }}</strong></p>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="recurringOrder">
        <div class="modal-header">
            <h4>Choose the days to recur:</h4>
        </div>
        <div class="modal-body form">
            <span class="form-group">
                <input name="sunday" type="checkbox" class="checkbox" ng-model="recur.Sunday">
                <label for="sunday">Produce on Sunday (Deliver Monday)</label>
            </span>
            <span class="form-group">
                <input name="monday" type="checkbox" class="checkbox" ng-model="recur.Monday">
                <label for="monday">Produce on Monday (Deliver Tuesday)</label>
            </span>
            <span class="form-group">
                <input name="tuesday" type="checkbox" class="checkbox" ng-model="recur.Tuesday">
                <label for="tuesday">Produce on Tuesday (Deliver Wednesday)</label>
            </span>
            <span class="form-group">
                <input name="wednesday" type="checkbox" class="checkbox" ng-model="recur.Wednesday">
                <label for="wednesday">Produce on Wednesday (Deliver Thursday)</label>
            </span>
            <span class="form-group">
                <input name="thursday" type="checkbox" class="checkbox" ng-model="recur.Thursday">
                <label for="thursday">Produce on Thursday (Deliver Friday)</label>
            </span>
            <span class="form-group">
                <input name="friday" type="checkbox" class="checkbox" ng-model="recur.Friday">
                <label for="friday">Produce on Friday (Deliver Saturday)</label>
            </span>
            <span class="form-group">
                <input name="saturday" type="checkbox" class="checkbox" ng-model="recur.Saturday">
                <label for="saturday">Produce on Saturday (Deliver Sunday)</label>
            </span>
            <button class="separateButtons btn btn-success" ng-click="setRecurrance()">Submit</button>
            <button class="separateButtons btn btn-warning" ng-click="closeDialog()">Cancel</button>
        </div>
        </div>
    </script>
</section>
