<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Packing List</title>
    <link rel="stylesheet" href="../../css/picklist.css">
    <script src="../../vendors/angular.min.js" charset="utf-8"></script>
    <script src="../../scripts/controllers/packingListController.js" charset="utf-8"></script>
</head>

<body ng-app="packingApp">
    <div ng-controller="PackingListController">

        <div ng-repeat="order in orders">
            <img src="../../images/packing-logo.png" alt="">
            <h3>{{ order.customer_name }}</h3>
            <p>{{ order.customer_address }}</p>
            <p>{{ order.customer_phone }}</p>
            <p>{{ today | date: 'longDate' }}</p>
            <div class="blue">
            </div>
            <p>Order #{{ order.id }}</p>
            <table>
                <thead class="blue">
                    <td class="right-align">QTY</td>
                    <td>DESCRIPTION</td>
                    <td class="right-align">UNIT PRICE</td>
                    <td class="right-align">TOTAL</td>
                </thead>
                <tr ng-repeat="product in order.products">
                    <td class="right-align">{{ product.qty }}</td>
                    <td>{{ product.type }} {{ product.variety }}</td>
                    <td class="right-align">{{ product.price | currency }}</td>
                    <td class="right-align">{{ product.price * product.qty | currency }}</td>
                </tr>
            </table>
            <p style="page-break-after:always;"><!-- pagebreak --></p>
        </div>
    </div>
</body>

</html>
