<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Packing List</title>

    <script src="../../vendors/angular.min.js" charset="utf-8"></script>
    <script src="../../scripts/controllers/packingListController.js" charset="utf-8"></script>
</head>

<body ng-app="packingApp">
    <div ng-controller="PackingListController">
        <div ng-repeat="order in orders">
            <p>{{ order.id }}</p>
            <p>{{ order.customer_name }}</p>
            <div ng-repeat="product in order.products">
                <p>{{ product.type }}</p>
                <p>{{ product.qty }}</p>
            </div>
        </div>
    </div>
</body>

</html>
