<div class="homeBody container">
  <div class="productSearchDiv">
    <input class='productSearchBar' type="text" placeholder="Search Products" ng-model="prodSearch">
  </div>
  <div class="createProductButton">
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#newModal">Add New Product <span class="glyphicon glyphicon-plus-sign"></span> </button>
  </div>
<div class="productList">
  <!-- <table ng-repeat = "product in list"> -->
  <table class="container table table-striped">
    <thead>
      <tr>
        <th class="tableHeading">Product</th>
        <th class="tableHeading">Description</th>
        <th class="tableHeading">Price</th>
        <th></th>
      </tr>
    </thead>
    <tr class='table table-striped' ng-repeat = "product in list | orderBy: 'type' | filter:prodSearch" ng-show="show">
      <td>{{product.type}} </td>
      <td>{{product.variety}}</td>
      <td>${{product.price}}</td>
      <td><button type="button" class="btn btn-info glyphicon glyphicon-edit"data-toggle="modal" data-target="#myModal" ng-click="storeInfo(product)"></button>
      <button type="button" class="btn btn-danger glyphicon glyphicon-remove" data-toggle="modal" data-target="#delProdModal" ng-click="storeInfo(product)"></button></td>
    </tr>
  </table>
</div>
</div>
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Editing Product</h4>
      </div>
      <div class="modal-body">
        <form action="index.html" method="post">
          Product Name: <input class='form-control' type="text" ng-model="productToEdit.type"><br>
          Product Description: <input class='form-control' type="text" ng-model="productToEdit.variety"><br>
          Price: <input class='form-control' type="number" placeholder="$" ng-model="productToEdit.price">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" ng-click="editProduct()" data-dismiss="modal">Submit</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="newModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Create New Product</h4>
      </div>
      <div class="modal-body">
        <form class="" action="index.html" method="post">
          Product Name: <input class='form-control' type="text" ng-model="newName"><br>
          Product Description: <input class='form-control' type="text" ng-model="newVariety"><br>
          Price:<input class='form-control' type="number" placeholder="$" ng-model="newPrice">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" ng-click="newProduct()" data-dismiss="modal">Submit</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="clearCreate()">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="delProdModal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <h4>Are you sure you want to delete {{productToEdit.type}} {{productToEdit.variety}}?</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" ng-click="deleteProduct()" data-dismiss="modal">Yes</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
