<!DOCTYPE html>
<div class="productList">
    <!-- <table ng-repeat = "product in list"> -->
    <table>
        <th>
            <td>Product</td>
            <td>Variety</td>
            <td>Price</td>
        </th>
        <tr ng-repeat="product in list" ng-show="show">
            <td>{{product.type}}</td>
            <td>{{product.variety}}</td>
            <td>{{product.price}}</td>
            <td><button name="button" type="button" data-toggle="modal" data-target="#myModal" ng-click="storeInfo()"> Edit </button></td>
            <td><button type="button" name="button" ng-click="deleteProduct()">Delete</button></td>
        </tr>
    </table>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Editing Product</h4>
            </div>
            <div class="modal-body">
                <form class="" action="index.html" method="post">
                    Item Name: <input type="text" name="" value="" placeholder="{{pName}}" ng-model="editName"><br> Item Variety: <input type="text" name="" value="" placeholder="{{pVariety}}" ng-model="editVariety"><br> Price: $
                    <input type="number" name=""
                        value="" placeholder="{{pPrice}}" ng-model="editPrice">
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" name="button" ng-click="editProduct()" data-dismiss="modal">Edit Product</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<button type="button" name="button" ng-click="getProducts()">products</button>
