<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Reports</title>
</head>

<body>
    <h1>Reports</h1>
    <p> Date Picker thats works on both chrome and safari </p>
    <label for="invoiceReport"></label>
    <input type="button" name="invoiceReport" value="Invoice Report" ng-click="invoiceReport()">
    <p> need to display invoice report/ how do we want to display this</p>
    <label for="productionReport"></label>
    <a ng-href="{{productionLink}}"><input type="button" name="productionReport" value="Production Report"></a>
    <p> need to display production report/ how do we want to display this </p>

</body>

</html>
