<!DOCTYPE html>
<div class="container homeBody">
    <h1>Reports</h1>

    <div class="cal">
        <div>
            <span>
                <p>Start at:</p>
                <div uib-datepicker ng-model="startDate" datepicker-options="options"></div>
            </span>
        </div>
        <div>
            <span>
                <p>End at:</p>
                <div uib-datepicker ng-model="endDate" datepicker-options="options"></div>
            </span>
        </div>
    </div>
    <a ng-href="{{ '/report/invoice/' + startDate.format('YYYY-MM-DD') + '/' + endDate.format('YYYY-MM-DD') + '/invoice.csv' }}">
        <button type="button" class="btn btn-default">Invoice Report</button>
    </a>
    <a ng-href="{{ '/report/production/' + startDate.format('YYYY-MM-DD') + '/production.csv'}}">
        <button class="btn btn-default">ProductionReport</button>
    </a>
</div>
