<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Staff</title>
</head>
<body>
  <div class="homeBody staffList container">
    <div class="addStaffButtonDiv">
      <button type="button" class="btn btn-default" class="addStaff" data-toggle='modal' data-target='#addStaffModal'>Add Staff <span class="glyphicon glyphicon-plus-sign"></span>
      </button>
    </div>
    <table class='container table table-striped'>
      <thead>
        <tr>
          <th class="tableHeading">Name</th>
          <th class="tableHeading">Email</th>
          <th class="tableHeading">Role</th>
          <th></th>
        </tr>
      </thead>
      <tr class="table table-striped" ng-repeat="staff in staffView | orderBy:'last_name'">
        <td class='productDisplay'>{{staff.first_name}} {{staff.last_name}}</td>
        <td class='productDisplay'>{{staff.email}}</td>
        <td class='productDisplay'>{{staff.role}}</td>
        <td><button type="button" class="btn btn-info glyphicon glyphicon-edit" data-toggle="modal" data-target="#editStaffModal" ng-click="storeStaff(staff)"></button>
      <button type="button" class="btn btn-danger glyphicon glyphicon-remove" data-toggle="modal" data-target="#deleteModal" ng-click='storeStaff(staff)'></button></td>
      </tr>
    </table>
  </div>
  <div class="modal fade" id="editStaffModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit Staff</h4>
        </div>
        <div class="modal-body">
          <form action="index.html" method="post">
            First Name: <input class='form-control' type="text" ng-model="staffToEdit.first_name"><br/>
            Last Name: <input class='form-control' type="text" ng-model="staffToEdit.last_name"><br/>
            Email:<input class='form-control' type="text" ng-model="staffToEdit.email"><br/>
            Role: <select class="roleClass"><option value="role">admin</option></select>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" ng-click="updateStaff()" data-dismiss="modal">Submit Changes</button>
          <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="addStaffModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add New Staff</h4>
        </div>
        <div class="modal-body">
          <form name='addStaffModal' action="index.html" method="post">
            First Name: <input class='form-control' type="text" ng-model="addFirst"><br/>
            Last Name: <input class='form-control' type="text" ng-model="addLast"><br/>
            Email:<small> (required) </small><input name="email" class='form-control' type="email" ng-model="addEmail" required><br/>
            Role: <select class="roleClass" ng-model="addRole" required>
              <option value="admin">admin</option>
            </select >
            <div class="modal-footer">
              <button type="button" class="btn btn-success" ng-disabled='addStaffModal.$invalid' ng-click="addStaff()" data-dismiss="modal">Add Staff</button>
              <button type="button" class="btn btn-warning" ng-click="clearAdd()" data-dismiss="modal">Cancel</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
  <div class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <h4>Are you sure you want to delete {{staffToEdit.first_name}} {{staffToEdit.last_name}}?</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Keep</button>
          <button type="button" class="btn btn-danger" ng-click="deleteStaff()" data-dismiss="modal">Delete</button>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
