<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Staff</title>
</head>
<body>
  <h1 class='container'>Staff</h1>
  <div class="staffList container">
    <button type="button" class="btn btn-default" class="addStaff" data-toggle='modal' data-target='#addStaffModal'>Add Staff</button>
    <table class='container'>
      <th>
        <td>Name</td>
        <td>Email</td>
        <td>Role</td>
      </th>
      <tr ng-repeat="staff in staffView | orderBy:'last_name'">
        <td></td>
        <td>{{staff.first_name}} {{staff.last_name}}</td>
        <td>{{staff.email}}</td>
        <td>{{staff.role}}</td>
        <td><button type="button" class="btn btn-default" data-toggle="modal" data-target="#editStaffModal" ng-click="storeStaff(staff)">Edit</button></td>
        <td><button type="button" class="btn btn-default" data-toggle="modal" data-target="#deleteModal" ng-click='storeStaff(staff)'>Delete</button></td>
      </tr>
    </table>
  </div>
  <div class="modal fade" id="editStaffModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Editing Staff</h4>
        </div>
        <div class="modal-body">
          <form class="" action="index.html" method="post">
            First Name: <input type="text" ng-model="staffToEdit.first_name"><br/>
            Last Name: <input type="text" ng-model="staffToEdit.last_name"><br/>
            Email:<input type="text" ng-model="staffToEdit.email"><br/>
            Role: <select class="roleClass"><option value="role">admin</option></select>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="updateStaff()" data-dismiss="modal">Submit Changes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="addStaffModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Adding Staff</h4>
        </div>
        <div class="modal-body">
          <form name='addStaffModal' action="index.html" method="post">
            First Name: <input type="text" ng-model="addFirst"><br/>
            Last Name: <input type="text" ng-model="addLast"><br/>
            Email*:<input type="email" ng-model="addEmail" required><br/>
            Role*: <select class="roleClass" ng-model="addRole" required>
              <option value="">Select Role</option>
              <option value="admin">admin</option>
            </select >
            <div class="modal-footer">
              <div style='float:left;margin-top:0px'  class="">
                * indicates required field
              </div>
              <button type="button" class="btn btn-default" ng-disabled='addStaffModal.$invalid' ng-click="addStaff()" data-dismiss="modal">Submit Staff</button>
              <button type="button" class="btn btn-default" ng-click="clearAdd()" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
  <div class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <h3>Are you sure you want to delete {{staffToEdit.first_name}} {{staffToEdit.last_name}}?</h3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="deleteStaff()" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
