<div id="wrapper">
    <!-- <table style="width:100%" ng-repeat="customer in customers"> -->
    <table style="width:100%">
        <tr>
            <th><h1>Customer</h1></th>
        </tr>
        <tr>
            <td>Loews Hotel {{customer.name}}</td>
            <td><label for="editCustomer"></label>
              <input type="button" name="editCustomer" value="Edit Customer" ng-click=""/>
            </td>
        </tr>
    </table>
    <label for="addCustomer"></label>
    <input type="button" name="addCustomer" value="Add New Customer" ng-click=""/>

</div>
