<div id='customerHomeBody' >
    <!-- <div ng-repeat='product in customer.products'> -->
    <button type="button" name="button" class="btn btn-danger customerLogout" ng-click="logout()">Logout</button>

    <div class="customerOrderContainer">
      <div id="containerLeft">
        <h3 id='welcomeBack'>Welcome back {{customer.name}}!</h3>
        <p>Tell us what quantities you need for tomorrow.</p>
      </div>
      <div id="containerRight">
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Product Description</th>
            <th>Product Price</th>
            <th>Quantity Needed</th>
            <th>Product Multiplier</th>
            <th>Total Quantity</th>
          </tr>
        </thead>
        <tbody ng-repeat='product in customer.products'>
          <tr>
            <td>{{product.type}}</td>
            <td>{{product.variety}}</td>
            <td>{{product.price}}</td>
            <td><input type="number" ng-model="product.qty" class="form-control" id="quantityOrdered"></input></td>
            <td>
              <select ng-model="product.multi">
                <option value="1">Single</option>
                <option value="12">Dozen</option>
              </select>
            </td>
            <td> {{product.qty * product.multi}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <!-- <input ng-model="comments" type="text" placeholder="comments/questions" class="form-control"> -->

    <div class="form-group">
      <label for="comment">Comments or Questions:</label>
      <textarea ng-model="comments" class="form-control" rows="4" id="comment"></textarea>
    <!-- <button type="button" ng-click="postOrder(); confirmModal();" class="btn btn-success">Submit Order</button> -->
    <button type="button" ng-click="postOrder(); confirmModal();" class="btn btn-success submitOrderButton">Submit Order</button>

    <script type="text/ng-template" id="confirmOrder">
      <div id="customerModal">
      <div class='modal-header'>
          <h4>Thank you!</h4>
      </div>
      <div class="modal-body">
          <p>Your order has been submitted. You will be notified when it has been accepted.</p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-danger" ng-click="logout()">Logout</button>
      </div>
      </div>
    </script>
