<h3 id='welcomeBack'>Welcome back {{customer.name}}!</h3>
<div ng-repeat='product in customer.products'>
    {{product.type}} {{product.variety}} {{product.price}} <input ng-model="product.qty" type="text" placeholder="qty">
</div>
<input ng-model="comments" type="text" placeholder="comments/questions">
<button type="button" ng-click="postOrder(); confirmModal();">Submit Order</button>
<script type="text/ng-template" id="confirmOrder">
    <div class='modal-header'>
        <h4>Thank you!</h4>
    </div>
    <div class="modal-body">
        <p>Your order has been submitted. You will be notified when it has been accepted.</p>
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="logout()">Logout</button>
    </div>
</script>
